<div class="scrollable-container">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Date</th>
        <th scope="col">Amount</th>
        <th scope="col">Currency</th>
        <th scope="col">Ignored</th>
        <th scope="col">Service Provider</th>
      </tr>
    </thead>
    <tbody>
      @for (tran of transactions$ | async; track tran.id) {
      <tr [ngStyle]="{ 'background-color': tran.color }">
        <td scope="col">
          {{ tran.registrationDate | date : "dd-MMM-yyyy" }}
        </td>
        <td scope="col">{{ tran.amount }}</td>
        <td scope="col">{{ tran.currency }}</td>
        <td scope="col">
          <app-checkbox
            [id]="tran.id"
            [checked]="tran.ignored"
            [disabled]="true"
          />
        </td>
        <td
          scope="col"
          [innerHTML]="
            tran.serviceProvider | boldSearch : (searchTerm$ | async)
          "
        ></td>
      </tr>
      }
    </tbody>
  </table>
</div>
