@import "src/app/shared/styles/colors.scss";

.wrapper {
  margin-bottom: 50px;
  height: 100%;
  overflow: auto;

  .top-bar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: $cyan-900;
    height: 50px;
    z-index: 9999;

    .logo {
      &-img {
        margin: 10px 20px 10px 30px;
        max-height: 40px;
      }

      &-name {
        font-family: fantasy;
        font-size: 26px;
        word-spacing: 5px;
        letter-spacing: 1px;
        color: $bs-white;
      }
    }

    button {
      background-color: #024955;
      border: none;
      color: white;
      font-size: 21px;
    }
  }
}
