<div class="wrapper">
  <div class="top-bar d-flex align-items-center justify-content-between">
    <div class="logo d-flex align-items-center">
      <img class="logo-img" src="favicon.ico" alt="" />
      <div class="logo-name">SMART Analysis</div>
    </div>
    <div class="d-flex">
      <button
        class="btn mx-3"
        style=""
        *ngFor="let option of modules"
        (click)="onNavigateTo(option.url)"
      >
        {{ option.name }}
      </button>
    </div>
  </div>
</div>
