.sidebar {
  &-visible {
    background-color: #801136;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    width: 300px;
    color: white;
    margin-top: 50px;
  }

  &-hidden {
    background-color: #801136;
    position: absolute;
    left: 0;
    top: 0;
    width: 35px;
    height: 35px;
    color: white;
    margin-top: 50px;
    z-index: 100;
  }
}

.content {
  margin-left: 300px;
}
