<div
  *ngIf="isFullSize; else hiddenSidebar"
  class="sidebar-visible"
  tripleClick
  (tripleClick)="toggleSidebar()"
  holdTrigger
  (holdTrigger)="toggleSidebar()"
>
  <ng-content select="[filters-full-size]"></ng-content>
</div>

<ng-template #hiddenSidebar>
  <div
    class="sidebar-hidden"
    (click)="toggleSidebar()"
    holdTrigger
    (holdTrigger)="toggleSidebar()"
  ></div>
</ng-template>

<div [ngClass]="{ content: isFullSize }">
  <ng-content select="[main-content]"></ng-content>
</div>
