<div class="comparison-container">
  <div class="comparison-card base">
    @let baseManager = baseHistocialInstalmentPaymentBatchesManager();
    <div class="card-header">
      <h3>{{ baseManager.getBaseName() }}</h3>
    </div>
    <div class="card-content">
      <div class="stat">
        <span class="value primary">{{
          baseManager.getPaidAmmount() | numberFormat: "0.00"
        }}</span>
        <span class="label">Total Paid</span>
        <span class="date">{{
          baseManager.getLastPaidMonth() | date: "dd MMM yyy"
        }}</span>
      </div>
      <div class="stat">
        <span class="value">{{
          baseManager.getUnpaidAmmount() | numberFormat: "-"
        }}</span>
        <span class="label">End Date</span>
        <span class="date">{{
          baseManager.getLastUnaidMonth() | date: "dd MMM yyy"
        }}</span>
      </div>
    </div>
  </div>
  <div class="comparison-card left">
    @let leftManager = leftHistocialInstalmentPaymentBatchesManager();
    <div class="card-header">
      <h3>{{ leftManager.getBaseName() }}</h3>
    </div>
    <div class="card-content">
      <div class="stat">
        <span class="value primary">{{
          leftManager.getPaidAmmount() | numberFormat: "-"
        }}</span>
        <span class="label">Total Paid</span>
        <span class="date">{{
          leftManager.getLastPaidMonth() | date: "dd MMM yyy"
        }}</span>
      </div>
      <div class="stat">
        <span class="value">{{
          leftManager.getUnpaidAmmount() | numberFormat: "-"
        }}</span>
        <span class="label">End Date</span>
        <span class="date">{{
          leftManager.getLastUnaidMonth() | date: "dd MMM yyy"
        }}</span>
      </div>
    </div>
  </div>

  <div class="comparison-card right">
    @let rightManager = rightHistocialInstalmentPaymentBatchesManager();
    <div class="card-header">
      <h3>{{ rightManager.getBaseName() }}</h3>
    </div>
    <div class="card-content">
      <div class="stat">
        <span class="value primary">{{
          rightManager.getPaidAmmount() | numberFormat: "-"
        }}</span>
        <span class="label">Total Paid</span>
        <span class="date">{{
          rightManager.getLastPaidMonth() | date: "dd MMM yyy"
        }}</span>
      </div>
      <div class="stat">
        <span class="value">{{
          rightManager.getUnpaidAmmount() | numberFormat: "-"
        }}</span>
        <span class="label">End Date</span>
        <span class="date">{{
          rightManager.getLastUnaidMonth() | date: "dd MMM yyy"
        }}</span>
      </div>
    </div>
  </div>
</div>
