<div class="table-wrapper">
  <table>
    <thead>
      <tr>
        <th class="text-center col-rata">Rata</th>
        <th class="text-center col-anticipat">Anticipat</th>
        <th class="text-center col-number">#</th>
        <th class="text-center col-date">Data Plății</th>
        <th class="text-center col-credit">Rată Credit</th>
        <th class="text-center col-interest">Rată Dobândă</th>

        <th
          class="text-center col-admin-fee"
          [class.hidden]="!isColumnVisible('administrationFee')"
        >
          Comision Administrare
        </th>

        <th
          class="text-center col-insurance"
          [class.hidden]="!isColumnVisible('insuranceCost')"
        >
          Costuri Asigurare
        </th>

        <th
          class="text-center col-management-fee"
          [class.hidden]="!isColumnVisible('managementFee')"
        >
          Comision Management
        </th>

        <th
          class="text-center col-recalculated"
          [class.hidden]="!isColumnVisible('recalculatedInterest')"
        >
          Dobândă Recalculată
        </th>

        <th class="text-center col-total">Total Rată</th>

        <th
          class="text-center col-restant"
          [class.hidden]="!isColumnVisible('remainingBalance')"
        >
          Sold restant
        </th>

        <th class="text-right col-actions">
          <div class="menu-cell" #menuContainer>
            <button class="burger-btn" (click)="toggleMenu($event)">☰</button>

            @if (isMenuOpen) {
              <div class="column-menu">
                @for (col of columns; track col.key) {
                  <div>
                    <label (click)="$event.stopPropagation()">
                      <input
                        type="checkbox"
                        [(ngModel)]="col.visible"
                        (click)="$event.stopPropagation()"
                      />
                      {{ col.label }}
                    </label>
                  </div>
                }
              </div>
            }
          </div>
        </th>
      </tr>
    </thead>

    <tbody>
      @for (group of groups(); track group.id) {
        <!-- Group Header -->
        @if (group.completed) {
          <tr
            class="group-header-subtotal-row blue"
            [class.expanded-group]="group.expanded"
            (click)="toggleGroup(group)"
          >
            <td colspan="3" class="group-title-cell bold">
              <div class="d-flex align-items-center justify-content-between">
                <div class="d-flex align-items-center">
                  <span class="chevron">
                    {{ group.expanded ? "▼" : "▶" }}
                  </span>
                  {{ group.title | date: "dd MMM yyyy" }}
                </div>
                <span class="count"> {{ group.instalments.length }} rate </span>
              </div>
            </td>

            <td></td>

            <td class="bold text-center">
              {{ getSubtotal(group).principal | numberFormat }}
            </td>

            <td class="bold text-center">
              {{ getSubtotal(group).interest | numberFormat }}
            </td>

            <td
              class="bold text-center"
              [class.hidden]="!isColumnVisible('administrationFee')"
            >
              {{ getSubtotal(group).administrationFee | numberFormat }}
            </td>

            <td
              class="bold text-center"
              [class.hidden]="!isColumnVisible('insuranceCost')"
            >
              {{ getSubtotal(group).insurance | numberFormat }}
            </td>

            <td
              class="bold text-center"
              [class.hidden]="!isColumnVisible('managementFee')"
            >
              {{ getSubtotal(group).managementFee | numberFormat }}
            </td>

            <td
              class="bold text-center"
              [class.hidden]="!isColumnVisible('recalculatedInterest')"
            >
              {{ getSubtotal(group).recalculatedInterest | numberFormat }}
            </td>

            <td class="bold text-center subtotal-total">
              {{ getSubtotal(group).total | numberFormat }}
            </td>

            <td
              class="bold text-center"
              [class.hidden]="!isColumnVisible('remainingBalance')"
            >
              {{ getSubtotal(group).restant | numberFormat }}
            </td>

            <td></td>
          </tr>
        }

        <!-- Rows -->
        @if (showOnlyTotalRow() ? false : group.expanded) {
          @for (row of group.instalments; track row.instalmentId) {
            <tr
              [class.pink]="row.instalmentPayment"
              [class.green]="row.earlyPayment"
            >
              <td class="text-center">
                <app-checkbox
                  [id]="row.instalmentId"
                  [checked]="row.instalmentPayment"
                  [disabled]="row.disabled || row.earlyPayment"
                  (valueChange)="onSelectInstalmentPayment(row)"
                />
              </td>

              <td class="text-center">
                <app-checkbox
                  [id]="row.instalmentId"
                  [checked]="row.earlyPayment"
                  [disabled]="row.disabled || row.instalmentPayment"
                  (valueChange)="onSelectEarlyPayment(row)"
                />
              </td>

              <td class="text-center">{{ row.instalmentId }}</td>
              <td class="text-center">
                {{ row.paymentDate | date: "dd.MM.yyyy" }}
              </td>
              <td class="text-center">
                {{ row.principalAmount | numberFormat }}
              </td>
              <td class="text-center">
                {{ row.interestAmount | numberFormat }}
              </td>

              <td
                class="text-center"
                [class.hidden]="!isColumnVisible('administrationFee')"
              >
                {{ row.administrationFee | numberFormat }}
              </td>

              <td
                class="text-center"
                [class.hidden]="!isColumnVisible('insuranceCost')"
              >
                {{ row.insuranceCost | numberFormat }}
              </td>

              <td
                class="text-center"
                [class.hidden]="!isColumnVisible('managementFee')"
              >
                {{ row.managementFee | numberFormat }}
              </td>

              <td
                class="text-center"
                [class.hidden]="!isColumnVisible('recalculatedInterest')"
              >
                {{ row.recalculatedInterest | numberFormat }}
              </td>

              <td class="text-center bold">
                {{ row.totalInstalment | numberFormat }}
              </td>

              <td
                class="text-center"
                [class.hidden]="!isColumnVisible('remainingBalance')"
              >
                {{ row.remainingBalance | numberFormat }}
              </td>

              <td></td>
            </tr>
          }
        }
      }
    </tbody>
  </table>
</div>
