<app-side-bar>
  <ng-container filters-full-size
    ><div class="space">
      <app-toggle-button
        [options]="['Overview', 'Compare']"
        [selected]="'Compare'"
        (selectionChange)="onSelectionChange($event)"
      />
    </div>
  </ng-container>

  <ng-container filters-partial-size> </ng-container>

  <ng-container main-content>
    <mortgage-loan-compare-body
      [left]="(repaymentSchedules$ | async)[0]"
      [right]="(repaymentSchedules$ | async)[2]"
    >
    </mortgage-loan-compare-body>
  </ng-container>
</app-side-bar>
