.sidebar {
  background-color: #036475;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  transition: all 0.3s ease;
  width: 300px;
  color: white;
  margin-top: 50px;

  img {
    transform: rotate(-180deg);
    left: 255px;
  }

  &-partial-size {
    background-color: #036475;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    transition: all 0.3s ease;
    width: 50px;
    color: white;
    margin-top: 50px;

    &:hover {
      width: 300px;

      img {
        left: 255px;
        transition: all 0.3s ease;
      }
    }

    img {
      transform: rotate(0deg);
      left: 5px;
    }
  }
}

.sidebar .sidebar-partial-size ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.content {
  margin-left: 300px;
  padding: 20px;
}

.content-full {
  margin-left: 50px;
  padding: 20px;
}

.arrows {
  width: 100%;
  height: 40px;
  position: absolute;
  bottom: 50px;
  left: 0px;
  padding: 5px 5px;
  cursor: pointer;

  &:hover {
    background-color: #047f94;
  }

  img {
    width: 30px;
    height: 30px;
    position: relative;
    bottom: 0px;
    filter: invert(100%);
  }
}
