<div *ngIf="isFullSize" class="sidebar">
  <div>
    <ng-content select="[filters-full-size]"></ng-content>
  </div>
  <div class="arrows" (click)="toggleSidebar()">
    <img src="assets/icons/side-bar/arrows.png" alt="" />
  </div>
</div>
<div *ngIf="!isFullSize" class="sidebar-partial-size">
  <div>
    <ng-content select="[filters-partial-size]"></ng-content>
  </div>
  <div class="arrows" (click)="toggleSidebar()">
    <img src="assets/icons/side-bar/arrows.png" alt="" />
  </div>
</div>

<div [ngClass]="{ content: isFullSize, 'content-full': !isFullSize }">
  <ng-content select="[main-content]"></ng-content>
</div>
