<app-side-bar>
  <ng-container filters-full-size>
    <div class="space">
      <app-toggle-button
        [options]="['Overview', 'Detailed', 'Compare']"
        [selected]="'Overview'"
        (selectionChange)="onSelectionChange($event)"
      />
    </div>
    <app-dropdown-select
      class="space"
      [items]="dropDownSelectOptions$ | async"
      [selectedItem]="selectedRepaymentScheduleName$ | async"
      placeholder="No Selection"
      (selectionChange)="onDropdownSelected($event)"
    />
    <div class="space">
      <div class="d-flex align-items-center justify-content-between">
        <div>Select start date</div>
        <date-picker
          [initialDate]="overviewStartDate$ | async"
          [minDate]="minDate"
          [maxDate]="maxDate"
          [openSide]="'right'"
          (dateChange)="onSelectedDateChange($event)"
        />
      </div>
    </div>
  </ng-container>

  <ng-container main-content
    ><div>
      <app-mortgage-loan-overview-header
        [overviewLoanRates]="overviewLoanRates$ | async"
      />
      <div class="scrollable-container mt-3">
        <table class="table">
          <thead>
            <tr>
              <th scope="col"></th>
              <th scope="col">Nr.</th>
              <th scope="col">Data Plății</th>
              <th scope="col">Rată Credit</th>
              <th scope="col">Rată Dobândă</th>
              <th scope="col">Comision Administrare</th>
              <th scope="col">Costuri Asigurare</th>
              <th scope="col">Comision Gestiune</th>
              <th scope="col">Dobândă Recalculată</th>
              <th scope="col">Total Rată</th>
              <th scope="col">Sold Rest Plată</th>
            </tr>
          </thead>
          <tbody>
            @let selectedRepaymentSchedule = selectedRepaymentSchedule$ | async;
            @for (rata of selectedRepaymentSchedule?.overviewLoanRates ?? [];
            track rata.instalmentId) {
            <tr
              [ngStyle]="{ 'background-color': rata.color }"
              [ngClass]="{ faded: rata.disabled && !rata.nextInterest }"
            >
              <td>
                <app-checkbox
                  [id]="rata.instalmentId"
                  [checked]="rata.selected"
                  [disabled]="rata.disabled"
                  (valueChange)="onSelect(rata)"
                />
              </td>
              <td>{{ rata.instalmentId }}</td>
              <td>{{ rata.paymentDate | date : "yyyy-MM-dd" }}</td>
              <td>{{ rata.principalAmount }}</td>
              <td>{{ rata.interestAmount }}</td>
              <td>{{ rata.administrationFee }}</td>
              <td>{{ rata.insuranceCost }}</td>
              <td>{{ rata.managementFee }}</td>
              <td>{{ rata.recalculatedInterest }}</td>
              <td>{{ rata.totalInstalment }}</td>
              <td>{{ rata.remainingBalance }}</td>
            </tr>
            }
          </tbody>
        </table>
      </div>
      <div class="mt-3">
        <app-highcharts-wrapper
          [chartOptions]="loanRatesSimulationTrendChart$ | async"
        />
      </div>
    </div>
  </ng-container>
</app-side-bar>
