<app-side-bar>
  <ng-container filters-full-size>
    <div class="space">
      <app-toggle-button
        [options]="['Overview', 'Detailed', 'Compare']"
        [selected]="'Overview'"
        (selectionChange)="onSelectionChange($event)"
      />
    </div>
    <app-dropdown-select
      class="space"
      [items]="dropDownSelectOptions$ | async"
      [selectedItem]="selectedRepaymentScheduleName$ | async"
      placeholder="No Selection"
      (selectionChange)="onDropdownSelected($event)"
    />
    <div class="space">
      <div class="d-flex align-items-center justify-content-between">
        <div>Select start date</div>
        <date-picker
          [initialDate]="overviewStartDate$ | async"
          [minDate]="minDate"
          [maxDate]="maxDate"
          [openSide]="'right'"
          (dateChange)="onSelectedDateChange($event)"
        />
      </div>
    </div>
    <div class="space">
      <app-checkbox
        [label]="'Display total row'"
        [id]="'total row'"
        [checked]="showTotalRow()"
        (valueChange)="onShowTotalRow($event)"
      />
    </div>
    <div class="space">
      <app-checkbox
        [label]="'Display ONLY total row'"
        [id]="'total row'"
        [checked]="showOnlyTotalRow()"
        (valueChange)="onOnlyShowTotalRow($event)"
      />
    </div>
    <div class="space">
      <app-numeric-input
        id="targetAmount"
        [label]="'Target Amount'"
        [value]="0"
        (valueChange)="onTargetAmountChange($event)"
      />
    </div>
  </ng-container>

  <ng-container main-content
    ><div>
      @let selectedRepaymentSchedule = selectedRepaymentSchedule$ | async;
      <app-mortgage-loan-overview-header
        [overviewLoanInstalments]="
          selectedRepaymentSchedule?.overviewLoanInstalments ?? []
        "
      />
      <app-mortgage-loan-overview-body-table
        [showTotalRow]="showTotalRow()"
        [showOnlyTotalRow]="showOnlyTotalRow()"
      />
    </div>
  </ng-container>
</app-side-bar>
