<div class="mt-2 mx-2">
  <p-dropdown-select
    [items]="dropDownSelectOptions$ | async"
    [selectedItem]="selectedRepaymentScheduleName$ | async"
    placeholder="No Selection"
    (selectionChange)="onDropdownSelected($event)"
  />
</div>

<div class="d-flex align-items-center justify-content-between mt-2 mx-2">
  <p-numeric-input
    id="targetAmount"
    [value]="monthlyAmount()"
    (valueChange)="onMonthlyAmountChange($event)"
  />
  <p-numeric-input
    id="targetAmount"
    [value]="payments()"
    (valueChange)="onPaymentsChange($event)"
  />
  <div>
    <span class="note"> PAD Dec-2026 </span>
  </div>
</div>

<div class="m-2">
  <p-mortgage-loan-overview-header
    [monthlyInstalmentGroups]="monthlyInstalmentBatches()"
  ></p-mortgage-loan-overview-header>
  <p-mortgage-loan-overview-body-table
    [monthlyInstalmentGroups]="monthlyInstalmentBatches()"
  />
</div>
