<!-- <app-header-card [headerCardInputs]="headerCardInputs()" /> -->

<div class="summary-grid">
  <div class="summary-card">
    <!-- <div class="card-header card-header--blue">
      <div class="card-title">Sumar Urmatoarea Plata</div>
    </div> -->

    <div class="card-body">
      <!-- ROW 1 (3 sections) -->
      <div class="summary-row">
        <div class="summary-section stat-item stat-item--rose">
          <span class="stat-item__label">Total Rata</span>
          <span class="stat-item__value">
            {{ totalInstalmentPayments() | numberFormat: "0.00" }}
          </span>
        </div>

        <div class="vertical-divider"></div>

        <div class="summary-section stat-item stat-item--emerald">
          <span class="stat-item__label">Plata Anticipata</span>
          <span class="stat-item__value">
            {{ totalEarlyPayment() | numberFormat: "0.00" }}
          </span>
        </div>

        <div class="vertical-divider"></div>

        <div class="summary-section stat-item stat-item--blue">
          <div class="d-flex justify-content-between align-items-center">
            <span class="stat-item__label"> Total </span>
            <span class="stat-item__label"> 1/2 </span>
          </div>

          <div class="d-flex justify-content-between align-items-center">
            <span class="stat-item__value">
              {{ this.totalPayment() | numberFormat: "0.00" }}
            </span>
            <span class="stat-item__value">
              {{ this.totalPayment() / 2 | numberFormat: "0.00" }}
            </span>
          </div>
        </div>
      </div>

      <!-- ROW 2 (2 sections) -->
      <div class="summary-row summary-row--border">
        <div class="summary-section stat-item stat-item--teal">
          <span class="stat-item__label">Costuri Economisite</span>
          <span class="stat-item__value"
            >{{ totalSavedInterest() | numberFormat: "0.00" }}
          </span>
        </div>

        <div class="vertical-divider"></div>
        <div class="summary-section stat-item stat-item--amber">
          <div class="d-flex justify-content-between align-items-center">
            <span class="stat-item__label">Sold Initial </span>
            <span class="stat-item__label">Sold Restant </span>
          </div>
          <div class="d-flex justify-content-between align-items-center">
            <span class="stat-item__value">
              {{ initialRemainingBalance() | numberFormat: "0.00" }}
            </span>
            <span class="stat-item__value">
              {{
                this.payments()?.at(-1)?.remainingBalance | numberFormat: "0.00"
              }}
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
