<p-top-bar [hasFiltersContent]="true" [hasModuleNavContent]="true">
  <ng-container module-navigation>
    <p-toggle-button-actions
      [options]="['Summary', 'Products']"
      [selected]="'Summary'"
      (selectionChange)="onSelectionChange($event)"
  /></ng-container>
  <button
    type="button"
    class="topbar-storage-button"
    topbar-actions
    aria-label="Receipt storage"
    title="Receipt storage"
    (click)="openStorageSettings()"
  >
    <img src="assets/icons/info.svg" alt="" aria-hidden="true" />
  </button>
  <ng-container filter-content>
    <p-date-range-picker
      [startDate]="startDate$ | async"
      [endDate]="endDate$ | async"
      [minDate]="minDate"
      [maxDate]="now"
      (valueChanged)="handleRangeChange($event)"
    />
  </ng-container>
</p-top-bar>

<p-receipts-list [receipts]="receipts$ | async" />
