<p-top-bar
  [hasFiltersContent]="true"
  [hasModuleNavContent]="true"
  [hasUploadAction]="true"
  (uploadRequested)="openStorageSettings()"
>
  <ng-container module-navigation>
    <p-toggle-button-actions
      [options]="['Summary', 'Products']"
      [selected]="'Summary'"
      (selectionChange)="onSelectionChange($event)"
  /></ng-container>
  <ng-container filter-content>
    <p-date-range-picker
      [startDate]="startDate$ | async"
      [endDate]="endDate$ | async"
      [minDate]="minDate"
      [maxDate]="now"
      (valueChanged)="handleRangeChange($event)"
    />
  </ng-container>
</p-top-bar>

<p-receipts-list [receipts]="receipts$ | async" />
