<p-top-bar [hasModuleNavContent]="true" [hasFiltersContent]="true">
  <ng-container module-navigation>
    <div class="d-flex align-items-center justify-content-center">
      <p-toggle-button-actions
        [options]="['Overview', 'Detailed']"
        [selected]="'Detailed'"
        (selectionChange)="onSelectionChange($event)"
      />
    </div>
  </ng-container>
  <ng-container filter-content>
    <p-dropdown-select
      [items]="dropDownSelectOptions$ | async"
      [selectedItem]="selectedRepaymentScheduleName$ | async"
      placeholder="No Selection"
      (selectionChange)="onDropdownSelected($event)"
    />
    <div class="pt-2 d-flex align-items-center justify-content-between">
      <div class="sidebar-label">Dobanda Fixa 5.79%</div>
      <div>
        <p-foo-toggle
          [toggle]="calculateRepaymentSchedules()"
          (toggleChange)="onCalculateRepaymentSchedulesChanged($event)"
        />
      </div>
    </div>
  </ng-container>
</p-top-bar>

<div class="m-2">
  <div class="mb-2">
    <p-loan-detailed-header />
  </div>
  <p-loan-detailed-body />
</div>
