<p-top-bar [hasFiltersContent]="true" [hasModuleNavContent]="true">
  <ng-container module-navigation>
    <p-toggle-button-actions
      [options]="['Summary', 'Products']"
      [selected]="'Products'"
      (selectionChange)="onSelectionChange($event)"
  /></ng-container>
  <button
    type="button"
    class="topbar-storage-button"
    topbar-actions
    aria-label="Receipt storage"
    title="Receipt storage"
    (click)="openStorageSettings()"
  >
    <img src="assets/icons/info.svg" alt="" aria-hidden="true" />
  </button>
  <ng-container filter-content>
    <p-date-range-picker
      [startDate]="startDate$ | async"
      [endDate]="endDate$ | async"
      [minDate]="minDate"
      [maxDate]="now"
      (valueChanged)="handleRangeChange($event)"
    />
    <div class="mt-2">
      <p-search-input (search)="onSearch($event)" />
    </div>
  </ng-container>
</p-top-bar>

<p-most-common-products [receipts]="receipts$ | async"></p-most-common-products>
