<div class="background">
  <form
    [formGroup]="credentialForm"
    (ngSubmit)="onSubmitChanges(credentialForm)"
  >
    <h3 class="text-center">Login Here</h3>
    <label for="email">Email</label>
    <input
      class="form-control"
      type="email"
      placeholder="Email address"
      name="emailId"
      formControlName="email"
      [ngClass]="{
        'is-invalid':
          credentialForm.get('email').invalid &&
          (!credentialForm.get('email').pristine ||
            credentialForm.get('email').dirty)
      }"
    />
    <span
      *ngIf="
        credentialForm.get('email').invalid &&
        (!credentialForm.get('email').pristine ||
          credentialForm.get('email').dirty)
      "
      class="invalid-feedback d-flex position-absolute"
      >{{ credentialForm.controls["email"]?.errors["value"] }}</span
    >
    <label for="password">Password</label>
    <input
      class="form-control"
      type="password"
      placeholder="Password"
      name="passwordId"
      formControlName="password"
      [ngClass]="{
        'is-invalid':
          credentialForm.get('password').invalid &&
          (!credentialForm.get('password').pristine ||
            credentialForm.get('password').dirty)
      }"
    />
    <span
      *ngIf="
        credentialForm.get('password').invalid &&
        (!credentialForm.get('password').pristine ||
          credentialForm.get('password').dirty)
      "
      class="invalid-feedback d-flex position-absolute"
    >
      {{ credentialForm.controls["password"]?.errors["value"] }}
    </span>
    <button class="" type="submit" [disabled]="credentialForm.invalid">
      Log In
    </button>
    <div class="mt-3">
      You don't have an account, start journey with us from<b> here</b>
    </div>
  </form>
</div>
