<div class="scrollable-container">
  <table class="diff-table">
    <thead>
      <tr>
        <th></th>
        <th class="text-center" colspan="4">{{ leftName() }}</th>
        <th class="text-center" colspan="4">{{ rightName() }}</th>
      </tr>
      <tr>
        <th>#</th>
        <th>Data Plății</th>
        <th>Rată Credit</th>
        <th>Rată Dobândă</th>
        <th>Total Plata</th>
        <th>Data Plății</th>
        <th>Rată Credit</th>
        <th>Rată Dobândă</th>
        <th>Total Plata</th>
      </tr>
    </thead>

    <tbody>
      @for(row of compareRows(); track row.id) {

      <tr>
        <td>{{ row.id }}</td>
        <td>{{ (row.left?.paymentDate | date : "yyyy-MM-dd") ?? "-" }}</td>
        <td>{{ row.left?.principalAmount ?? "-" }}</td>
        <td>{{ row.left?.interestAmount ?? "-" }}</td>
        <td>{{ row.left?.totalInstalment ?? "-" }}</td>
        <td>{{ (row.right?.paymentDate | date : "yyyy-MM-dd") ?? "-" }}</td>
        <td>{{ row.right?.principalAmount ?? "-" }}</td>
        <td>{{ row.right?.interestAmount ?? "-" }}</td>
        <td>{{ row.right?.totalInstalment ?? "-" }}</td>
      </tr>
      }
    </tbody>
  </table>
</div>
