:host {
  display: block;
  width: 100%;
}

button[ngbDropdownToggle] {
  height: 40px;
  background-color: white !important;
  text-align: left;
}

div[ngbDropdownMenu] {
  max-height: 300px;
  overflow-y: auto;
}
