//primary colors
$bs-blue: #0d6efd !default;
$bs-indigo: #6610f2 !default;
$bs-purple: #6f42c1 !default;
$bs-pink: #d63384 !default;
$bs-red: #dc3545 !default;
$bs-orange: #fd7e14 !default;
$bs-yellow: #ffc107 !default;
$bs-green: #198754 !default;
$bs-teal: #20c997 !default;
$bs-cyan: #0dcaf0 !default;
$bs-black: #000 !default;
$bs-white: #fff !default;
$bs-primary: #0d6efd !default;
$bs-secondary: #6c757d !default;
$bs-success: #198754 !default;
$bs-info: #0dcaf0 !default;
$bs-warning: #ffc107 !default;
$bs-danger: #dc3545 !default;
$bs-light: #f8f9fa !default;
$bs-dark: #212529 !default;

//cyan colors
$cyan-50: #f3fbfd !default;
$cyan-100: #c3edf5 !default;
$cyan-200: #94e0ed !default;
$cyan-300: #65d2e4 !default;
$cyan-400: #35c4dc !default;
$cyan-500: #06b6d4 !default;
$cyan-600: #059bb4 !default;
$cyan-700: #047f94 !default;
$cyan-800: #036475 !default;
$cyan-900: #024955 !default;

//teal colors
$teal-50: #f3fbfb !default;
$teal-100: #c7eeea !default;
$teal-200: #9ae0d9 !default;
$teal-300: #6dd3c8 !default;
$teal-400: #41c5b7 !default;
$teal-500: #14b8a6 !default;
$teal-600: #0e8174 !default;
$teal-700: #0e8174 !default;
$teal-800: #0b655b !default;
$teal-900: #084a42 !default;

$blue-50: #f4fafe !default;
$blue-100: #cae6fc !default;
$blue-200: #a0d2fa !default;
$blue-300: #75bef8 !default;
$blue-400: #4baaf5 !default;
$blue-500: #2196f3 !default;
$blue-600: #1c80cf !default;
$blue-700: #1769aa !default;
$blue-800: #125386 !default;
$blue-900: #0d3c61 !default;

$green-50: #f6fbf6 !default;
$green-100: #d4ecd5 !default;
$green-200: #b2ddb4 !default;
$green-300: #90cd93 !default;
$green-400: #6ebe71 !default;
$green-500: #4caf50 !default;
$green-600: #419544 !default;
$green-700: #357b38 !default;
$green-800: #2a602c !default;
$green-900: #1e4620 !default;

$yellow-50: #fffcf5 !default;
$yellow-100: #fef0cd !default;
$yellow-200: #fde4a5 !default;
$yellow-300: #fdd87d !default;
$yellow-400: #fccc55 !default;
$yellow-500: #fbc02d !default;
$yellow-600: #d5a326 !default;
$yellow-700: #b08620 !default;
$yellow-800: #8a6a19 !default;
$yellow-900: #644d12 !default;

$pink-50: #fef4f7 !default;
$pink-100: #fac9da !default;
$pink-200: #f69ebc !default;
$pink-300: #f1749e !default;
$pink-400: #ed4981 !default;
$pink-500: #e91e63 !default;
$pink-600: #c61a54 !default;
$pink-700: #a31545 !default;
$pink-800: #801136 !default;
$pink-900: #5d0c28 !default;

$bs-gray: #6c757d !default;
$bs-gray-dark: #343a40 !default;
$bs-gray-100: #f8f9fa !default;
$bs-gray-200: #e9ecef !default;
$bs-gray-300: #dee2e6 !default;
$bs-gray-400: #ced4da !default;
$bs-gray-500: #adb5bd !default;
$bs-gray-600: #6c757d !default;
$bs-gray-700: #495057 !default;
$bs-gray-800: #343a40 !default;
$bs-gray-900: #212529 !default;
