<app-side-bar>
  <ng-container filters-full-size>
    <div class="space">
      <app-toggle-button
        [options]="['Overview', 'Detailed', 'Compare']"
        [selected]="'Compare'"
        (selectionChange)="onSelectionChange($event)"
      />
    </div>

    <div class="space">
      <app-dropdown-select
        [items]="repaymentSchedulesOptions()"
        [selectedItem]="selectedLeftValue()"
        placeholder="No Selection"
        (selectionChange)="onLeftDropdownSelected($event)"
      />
    </div>

    <div class="space">
      <app-dropdown-select
        [items]="repaymentSchedulesOptions()"
        [selectedItem]="selectedRightValue()"
        placeholder="No Selection"
        (selectionChange)="onRightDropdownSelected($event)"
      />
    </div>
    <div class="space">
      <app-radio-group
        [options]="[
          { label: 'Rata', value: 'rata' },
          { label: 'Dobanda', value: 'dobanda' },
          { label: 'Principal', value: 'principal' },
        ]"
        [selected]="chartView()"
        (selectionChange)="onChartViewChange($event)"
      >
      </app-radio-group>
    </div>
  </ng-container>

  <ng-container main-content>
    <div class="mb-3">
      <app-mortgage-loan-compare-header></app-mortgage-loan-compare-header>
    </div>
    <div class="mb-3">
      <app-highcharts-wrapper [chartOptions]="compareRatesTrendChart()" />
    </div>
    <div>
      <app-mortgage-loan-compare-body></app-mortgage-loan-compare-body>
    </div>
  </ng-container>
</app-side-bar>
