<app-side-bar>
  <ng-container filters-full-size>
    <div class="space">
      <app-date-range-picker
        [startDate]="startDate$ | async"
        [endDate]="endDate$ | async"
        minDate="2017-01-01"
        maxDate="2030-01-01"
        (valueChanged)="handleRangeChange($event)"
      />
    </div>
    <div class="space">
      <app-dropdown-select
        [items]="providerDropDownSelectOptions$ | async"
        [selectedItem]="selectedProvider$ | async"
        placeholder="No Selection"
        (selectionChange)="onProviderDropdownSelected($event)"
      />
    </div>
    <div class="space">
      <app-dropdown-select
        [items]="dropDownSelectOptions$ | async"
        [selectedItem]="selectedServiceProvider$ | async"
        placeholder="No Selection"
        (selectionChange)="onDropdownSelected($event)"
      />
    </div>
    <div class="space">
      <app-search-input (search)="onSearch($event)" />
    </div>
  </ng-container>
  <ng-container filters-partial-size> </ng-container>

  <ng-container main-content>
    <app-transaction-header [transactions]="transactions$ | async" />
    <div class="mt-3">
      <app-highcharts-wrapper
        [chartOptions]="monthlyTransactionsChart$ | async"
      />
    </div>
    <div class="mt-3">
      <app-transaction-table />
    </div>
  </ng-container>
</app-side-bar>
