<app-side-bar>
  <ng-container filters-full-size>
    <div class="space">
      <app-toggle-button
        [options]="['Overview', 'Detailed']"
        [selected]="'Overview'"
        (selectionChange)="onSelectionChange($event)"
      />
    </div>
    <div class="space">
      <app-dropdown-select
        [items]="invoiceLocations$ | async"
        [selectedItem]="selectedInvoiceLocation$ | async"
        placeholder="No Selection"
        (selectionChange)="onDropdownLocationSelected($event)"
      />
    </div>
    <div class="space">
      <app-dropdown-select
        [items]="selectedInvoiceTypes$ | async"
        [selectedItem]="selectedInvoiceType$ | async"
        placeholder="No Selection"
        (selectionChange)="onDropdownProviderSelected($event)"
      />
    </div>
  </ng-container>

  <ng-container main-content
    ><div class="d-flex flex-column">
      @let charts = invoiceIndexTrentCharts$ | async ; @for(chart of charts;
      track chart ) {

      <div class="mb-3">
        <app-highcharts-wrapper [chartOptions]="chart" />
      </div>
      }
    </div>
    @let invoices = selectedInvoices$ | async ; @for( invoice of invoices; track
    invoice.address) {@if(!!invoice ) {
    <h1>{{ invoice.address }}</h1>
    <table>
      <thead>
        <tr>
          <th>Invoice Type</th>
          <th>Provider</th>
          <th>Date</th>
          <th>Index</th>
          <th>Amount</th>
          <th>Type</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        @for( inv of invoice.invoices; track inv.date) {
        <tr>
          <td>{{ inv.invoiceType }}</td>
          <td>{{ inv.provider }}</td>
          <td>{{ inv.date | date : "yyyy-MM-dd" }}</td>
          <td>{{ inv.index }}</td>
          <td>{{ inv.amount }}</td>
          <td>{{ inv.type }}</td>
          <td>{{ inv.action }}</td>
        </tr>
        }
      </tbody>
    </table>
    } @else {
    <p>Please select a location to view invoices.</p>
    }}
  </ng-container>
</app-side-bar>
