<p-top-bar>
  <ng-container module-navigation></ng-container>
</p-top-bar>
<div class="tabs-wrapper">
  <div class="tabs-header">
    @for (tab of tabs; track $index) {
      <div
        class="tab"
        [routerLink]="tab.url"
        routerLinkActive="active "
        [routerLinkActiveOptions]="{ exact: true }"
        [class.active]="tab.id === activeTab"
      >
        {{ tab.label }}
      </div>
    }
  </div>

  <div class="tabs-content">
    <router-outlet></router-outlet>
  </div>
</div>
