<div class="mt-3">
  @if (transactionType() === 'Daily') {
    <p-highcharts-wrapper
      class="chart-wrapper"
      [chartOptions]="dailyTransactionsChart()"
    >
      <ng-container p-highcharts-wrapper-content>
        <div class="m-2 d-flex align-items-center justify-content-between">
          <div class="title">Transactions</div>
          <div class="w-50">
            <p-toggle-button
              [options]="[{ label: 'Daily' }, { label: 'Monthly' }]"
              [selected]="transactionType()"
              [gradient]="{
                primaryColor: '#047f94',
                secondaryColor: '#d5a326',
              }"
              (selectionChange)="onTransactionTypeChange($event)"
            />
          </div>
        </div> </ng-container
    ></p-highcharts-wrapper>
  } @else {
    <p-highcharts-wrapper
      class="chart-wrapper"
      [chartOptions]="monthlyTransactionsChart()"
    >
      <ng-container p-highcharts-wrapper-content>
        <div class="m-2 d-flex align-items-center justify-content-between">
          <div class="title">Transactions</div>
          <div class="w-50">
            <p-toggle-button
              [options]="[{ label: 'Daily' }, { label: 'Monthly' }]"
              [selected]="transactionType()"
              [gradient]="{
                primaryColor: '#047f94',
                secondaryColor: '#d5a326',
              }"
              (selectionChange)="onTransactionTypeChange($event)"
            />
          </div>
        </div> </ng-container
    ></p-highcharts-wrapper>
  }
</div>
