<div ngbDropdown class="w-100">
  <button
    class="btn w-100 bg-white border rounded-2 text-start"
    id="dropdownMenu"
    ngbDropdownToggle
  >
    {{ selectedItem || placeholder }}
  </button>

  <div ngbDropdownMenu aria-labelledby="dropdownMenu" class="w-100 p-2">
    <!-- Search Input -->
    <input
      type="text"
      class="form-control mb-2"
      placeholder="Search..."
      [(ngModel)]="searchTerm"
    />

    <div class="options-scrollable-container">
      @for (item of filteredItems(); track item) {
      <button class="dropdown-item" (click)="selectItem(item)">
        {{ item }}</button
      >}
    </div>
  </div>
</div>
