<div class="summary-grid">
  <div class="summary-row">
    <div class="summary-section stat-item stat-item--orange">
      <div class="stat-row">
        <span class="stat-item__label">Credit</span>
        <span class="stat-item__label"> </span>
      </div>

      <div class="stat-row">
        <span class="stat-item__value">
          {{ paidPrincipal() | numberFormat: "0.00" }}
        </span>
        <span class="stat-item__value">
          {{ paidPrincipalPercent() | numberFormat: "0.00" }} %
        </span>
      </div>
    </div>

    <div class="summary-section stat-item stat-item--amber">
      <div class="stat-row">
        <span class="stat-item__label">Dobanda</span>
        <span class="stat-item__label">PAD</span>
      </div>

      <div class="stat-row">
        <span class="stat-item__value">
          {{ paidIntrest() | numberFormat: "0.00" }}
        </span>
        <span class="stat-item__value">
          {{ paidInsurance() | numberFormat: "0.00" }}
        </span>
      </div>
    </div>

    <div class="summary-section stat-item stat-item--rose">
      <div class="stat-row">
        <span class="stat-item__label">Total</span>
        <span class="stat-item__label">Rate</span>
      </div>

      <div class="stat-row">
        <span class="stat-item__value">
          {{ totalPaid() | numberFormat: "0.00" }}
        </span>
        <span class="stat-item__value">
          {{ paidInstalments() | numberFormat: "0" : 0 }} /
          {{ unpaidInstalments() | numberFormat: "0" : 0 }}
        </span>
      </div>
    </div>

    <div class="summary-section stat-item stat-item--teal">
      <div class="stat-row">
        <span class="stat-item__label">Prima plata</span>
        <span class="stat-item__label">Ultima plata</span>
      </div>

      <div class="stat-row">
        <span class="stat-item__value">
          {{ firstInstalmentPaymentDate() | date: "MMM-yyyy" }}
        </span>

        <span class="stat-item__value">
          {{ lastInstalmentPaymentDate() | date: "MMM-yyyy" }}
        </span>
      </div>
    </div>

    <div class="summary-section stat-item stat-item--violet">
      <div class="stat-row">
        <span class="stat-item__label">Perioad Ramasa</span>
        <span class="stat-item__label">Perioad Ignorata</span>
      </div>

      <div class="stat-row">
        <span class="stat-item__value"> {{ dateDiffYMD() ?? "-" }} </span>

        <span class="stat-item__value">
          {{ savedDateDiffYMD() ?? "-" }}
        </span>
      </div>
    </div>
  </div>
</div>
