<div class="header-cards mb-3">
  <div class="divided-card">
    <div class="section">
      <p class="label">Total Rata</p>
      <p class="value">
        {{ "0.00" }}
      </p>
    </div>
    <div class="divider"></div>
    <div class="section right">
      <p class="label">Total Plata Anticipata</p>
      <p class="value">
        {{ "0.00" }}
      </p>
    </div>
  </div>

  <div class="divided-card">
    <div class="section">
      <p class="label">Dobândă Salvată</p>
      <p class="value increase">
        {{ "0.00" }}
      </p>
    </div>
    <div class="divider"></div>
    <div class="section right">
      <p class="label">Total de Plata</p>
      <p class="value decrease">
        {{ "0.00" }}
      </p>
    </div>
  </div>

  <div class="divided-card">
    <div class="section">
      <p class="label">Dobândă Salvată</p>
      <p class="value increase">
        {{ "0.00" }}
      </p>
    </div>
    <div class="divider"></div>
    <div class="section right">
      <p class="label">Total de Plata</p>
      <p class="value decrease">
        {{ "0.00" }}
      </p>
    </div>
  </div>
</div>
