<div class="header-cards mb-3">
  <div class="divided-card">
    <div class="section">
      <p class="label"></p>
      <p class="value"></p>
    </div>
    <div class="divider"></div>
    <div class="section center">
      <p class="label"></p>
      <p class="value"></p>
    </div>
    <div class="divider"></div>
    <div class="section right">
      <p class="label"></p>
      <p class="value"></p>
    </div>
  </div>

  <div class="divided-card">
    <div class="section">
      <p class="label">Prima plata</p>
      <p class="value increase">
        {{ (firstInstalmentPaymentDate$ | async | date: "MMM-yyyy") ?? "-" }}
      </p>
    </div>
    <div class="divider"></div>
    <div class="section center">
      <p class="label">Ultima plata</p>
      <p class="value decrease">
        {{ (lastInstalmentPaymentDate$ | async | date: "MMM-yyyy") ?? "-" }}
      </p>
    </div>
    <div class="divider"></div>
    <div class="section right">
      <p class="label">Perioad</p>
      <p class="value decrease">
        {{ dateDiffYMD$ | async }}
      </p>
    </div>
  </div>
</div>
