<div class="table-wrapper">
  <table>
    <thead>
      <tr>
        <th></th>
        <th class="text-center">#</th>
        <th class="text-center">Data Plății</th>
        <th class="text-center">Rată Credit</th>
        <th class="text-center">Rată Dobândă</th>
        <th class="text-center">PAD</th>
        <th class="text-center">Sold Rest Plată</th>
      </tr>
    </thead>

    <tbody>
      @for (
        group of monthlyInstalmentGroups();
        let index = $index;
        track index
      ) {
        <!-- Group Header -->
        @if (group.completed) {
          <tr
            class="group-header-subtotal-row blue"
            [class.expanded-group]="group.expanded"
            (click)="toggleGroup(group)"
          >
            <td class="group-title-cell bold">
              <span class="chevron">
                {{ group.expanded ? "▼" : "▶" }}
              </span>
              <span>
                {{ getSubtotal(group).total | numberFormat: "0.00" }}</span
              >
            </td>
            <td class="group-title-cell bold text-center">
              <span class="count"> {{ group.instalments.length }} rate </span>
            </td>

            <td class="bold text-center">
              {{ group.title | date: "dd MMM yyyy" }}
            </td>
            <td class="bold text-center">
              {{ getSubtotal(group).principal | numberFormat: "0.00" }}
            </td>

            <td class="bold text-center">
              {{ getSubtotal(group).interest | numberFormat: "0.00" }}
            </td>

            <td class="bold text-center">
              {{ getSubtotal(group).insuranceCost | numberFormat: "0.00" }}
            </td>
            <td class="bold text-center">
              {{ getSubtotal(group).remainingBalance | numberFormat: "0.00" }}
            </td>
          </tr>
        }

        <!-- Rows -->
        @if (group.expanded) {
          @for (row of group.instalments; let last = $last; track row.index) {
            <tr
              [class.orange]="row.instalmentPayment"
              [class.green]="row.earlyPayment"
              [class.gray]="!row.instalmentPayment && !row.earlyPayment"
            >
              <td
                class="text-center"
                [ngClass]="{
                  'last-bottom-border': last && row.earlyPayment,
                }"
              ></td>
              <td
                class="text-center"
                [ngClass]="{
                  'last-bottom-border': last && row.earlyPayment,
                }"
              >
                {{ row.index }}
              </td>
              <td
                class="text-center"
                [ngClass]="{
                  strike: row.earlyPayment || row.instalmentPayment,
                  'last-bottom-border': last && row.earlyPayment,
                }"
              >
                {{ row.paymentDate | date: "dd MMM yyyy" }}
              </td>
              <td
                class="text-center"
                [ngClass]="{
                  bold: row.earlyPayment || row.instalmentPayment,
                  'last-bottom-border': last && row.earlyPayment,
                }"
              >
                {{ row.principalAmount | numberFormat: "0.00" }}
              </td>
              <td
                class="text-center"
                [ngClass]="{
                  strike: row.earlyPayment,
                  'last-bottom-border': last && row.earlyPayment,
                }"
              >
                {{ row.interestAmount | numberFormat: "0.00" }}
              </td>
              <td
                class="text-center"
                [ngClass]="{
                  strike: row.earlyPayment,
                  'last-bottom-border': last && row.earlyPayment,
                }"
              >
                {{ row.insuranceCost | numberFormat: "0.00" }}
              </td>
              <td
                class="text-center"
                [ngClass]="{
                  strike: !last,
                  'last-bottom-border': last && row.earlyPayment,
                }"
              >
                {{ row.remainingBalance | numberFormat: "0.00" }}
              </td>
            </tr>
          }
        }
      }
    </tbody>
  </table>
</div>
