<app-side-bar>
  <ng-container filters-full-size>
    <date-picker
      [label]="'Select a date'"
      [selectedDate]="'2025-10-10'"
      [minDate]="'2025-12-01'"
      [maxDate]="'2055-12-01'"
    ></date-picker>
  </ng-container>

  <ng-container filters-partial-size> </ng-container>

  <ng-container main-content
    ><div>
      <div class="header-cards">
        <div class="divided-card">
          <div class="section">
            <p class="label">Total Rata</p>
            <p class="value">
              {{ rata?.totalRata != null ? rata.totalRata.toFixed(2) : "0.00" }}
            </p>
          </div>
          <div class="divider"></div>
          <div class="section right">
            <p class="label">Total Anticipate</p>
            <p class="value">
              {{
                totalAnticipate != null ? totalAnticipate.toFixed(2) : "0.00"
              }}
            </p>
          </div>
        </div>

        <div class="divided-card">
          <div class="section">
            <p class="label">Dobândă Salvată</p>
            <p class="value increase">
              {{
                totalDobandaSalvata != null
                  ? totalDobandaSalvata.toFixed(2)
                  : "0.00"
              }}
            </p>
          </div>
          <div class="divider"></div>
          <div class="section right">
            <p class="label">Total Final de Plata</p>
            <p class="value decrease">
              {{ total != null ? total.toFixed(2) : "0.00" }}
              ({{ total != null ? (total / 2).toFixed(2) : "0.00" }})
            </p>
          </div>
        </div>
      </div>

      @for (grafic of transactions; track grafic.name) {
      <div class="scrollable-container mt-3">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Selected</th>
              <th scope="col">Nr.</th>
              <th scope="col">Data Plății</th>
              <th scope="col">Rată Credit</th>
              <th scope="col">Rată Dobândă</th>
              <th scope="col">Comision Administrare</th>
              <th scope="col">Costuri Asigurare</th>
              <th scope="col">Comision Gestiune</th>
              <th scope="col">Dobândă Recalculată</th>
              <th scope="col">Total Rată</th>
              <th scope="col">Sold Rest Plată</th>
            </tr>
          </thead>
          <tbody>
            @for (rata of grafic.rate; track rata.nrCtr) {
            <tr>
              <td>
                <input
                  [id]="rata.nrCtr"
                  type="checkbox"
                  (click)="onSelect(rata)"
                />
              </td>
              <td>{{ rata.nrCtr }}</td>
              <td>{{ rata.dataPlatii | date : "yyyy-MM-dd" }}</td>
              <td>{{ rata.rataCredit }}</td>
              <td>{{ rata.rataDobanda }}</td>
              <td>{{ rata.comisionAdministrare }}</td>
              <td>{{ rata.costuruAsigurare }}</td>
              <td>{{ rata.comisionGestiune }}</td>
              <td>{{ rata.dobadaRecalculata }}</td>
              <td>{{ rata.totalRata }}</td>
              <td>{{ rata.soldRestPlata }}</td>
            </tr>
            }
          </tbody>
        </table>
      </div>
      }
    </div>
  </ng-container>
</app-side-bar>
